.header-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-bottom: 2px solid lightgrey;
  background-color: white;
}

.logo {
  display: flex;
  font-family: 'Over the rainbow', cursive;
  color: #DD6B0D;
  margin-left: 10px;
}

.logo a {
  text-decoration: none;
  color: #DD6B0D;
}

.logo a:visited {
  color: #DD6B0D;
}

.navigation {
  display: flex;
  margin-right: 10px;
}

.navigation li {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.register-button, .logout-button {
  background-color: #287FC7;
  border: 1px solid #287fb8;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  padding: 10px;
  margin: 2px;
}

.login-button, .profile-button {
  text-decoration: none;
  border: 1px solid #287fb8;
  border-radius: 3px;
  color: #287FC7;
  font-family: sans-serif;
  padding: 10px;
  margin: 2px;
}

.login-container, .register-container {
  border-radius: 3px;
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 300px;
  height: 30%;
  flex-direction: column;
  margin-top: 5px;
  background-color: white;
  padding: 20px;
}

.login-title, .register-title {
  width: 100%;
  border-bottom: 1px lightgray solid;
  text-align: center;
  padding-bottom: 5px;
}

.login-form-container, .register-form-container {
  width: 100%;
  text-align: center;
}

.login-form, .register-form {
  width: 100%;
}

.login-form input, .register-form input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 3px;
  box-shadow: none;
  border:1px solid lightgray;
}

#PlacesAutocomplete__root input[type="text"] {
  padding: 10px 0px !important;
}

.login-form input:focus{
  outline: none;
}

.login-form  input[type='submit'], .register-form input[type='submit'] {
  background-color: #287fb8;
  border: 1px solid #287fb8;
  color: white;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
