.dashboard{
  display: flex;
}

.upcoming {
  flex-grow: 2;
}

.upcoming-trips {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
}

.upcoming-guests {
  background-color: white;
  padding: 10px;
  margin-top: 5px;
}

.trip-title {
  border-bottom: 1px solid lightgray;
}

.hosting-title {
  border-bottom: 1px solid lightgray;
}
