<!DOCTYPE html>
<html>
  <head>
    <title>Kitchensurfing</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Over+the+Rainbow" rel="stylesheet">
  </head>

  <body>
  	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7is17H2kbzkchcO8KQGZpfbO5wlydDUM&libraries=places"></script>
    <%= yield %>
  </body>
</html>
